[2014-10-03 16:13] rtilder opened #3 "Chunk file needs to be uploaded to a file path in S3 rather than the bucket root"
shavar is expecting a URL containing both a bucket name and the name of the path within that bucket.  The format should look something like this /bucket_name/file_name for the chunk file.

[2014-10-03 16:52] #3 closed, assigned to nobody

[2014-10-09 20:40] ckolos opened #4 "script should default to values specified in a config/ini file"
The command line params work, but they're kludgey to work with in puppet and require a wrapper script to run consistently. If a config file was able to be referenced by the script, we could control the params much more easily with puppet

[2014-10-09 20:43] ckolos opened #5 "s3_url should check for a path element and use it if found."
the script currently uses the url.netloc value as the bucket name. This is correct, but any path specified in the s3 url is lost and never referenced again and ends up with the digest file being created/copied to the root level of the bucket.

You can work around this by creating a matching path in the directory where the script is being run, but this is not ideal.

[2014-11-04 22:36] #5 closed, assigned to nobody

[2014-11-04 22:36] #4 closed, assigned to nobody

[2015-01-28 17:47] monicachew opened #7 "Update the blocklist more than every 12 hours"
Yesterday after noon PT I pushed an updates to the exception list: https://github.com/mozilla-services/shavar-list-exceptions/commits/master

A couple hours later I pulled the blocklist, and the timestamp was noon PT according to https://github.com/monicachew/shavar-test. The changes were picked up at midnight PT, so it looks like this cron may be running only every 12 hours? The alternative expla

[2015-01-28 19:21] ckolos commented on #7
there was a bug on our side. fixed.

[2015-01-28 19:21] #7 closed

[2015-01-29 19:59] monicachew opened #8 "send adddel range to delete old chunks"
We need to send

ad:1-\<current_chunk_number - 1\>

in order to make sure clients don't keep appending new chunks.

[2015-01-29 23:41] monicachew opened #10 "add sjhworkman as a project collaborator"
@ckolos Can you do this?

[2015-01-29 23:44] #8 closed

[2015-01-30 14:41] ckolos commented on #10
invite sent.

[2015-01-30 14:41] #10 closed

[2015-03-30 21:21] monicachew opened #13 "please give @fmarier access to this repo"
@ckolos, can you take care of adding @fmarier? Thanks!

[2015-03-31 02:44] ckolos commented on #13
done.

[2015-03-31 02:44] #13 closed

[2015-08-13 01:11] fmarier opened #16 "Compressing the entity whitelist by removing unnecessary entries"
The entity whitelist can get quite large due to it being the cross product of properties and resources for each organization.

In order to minimize the total number of entries, we should "compress" the list we get from Disconnect and remove the resources that will never be used by the client:

- same-origin: e.g. `http://example.com/?resource=example.com`
- non-blacklisted resources: if a domain i

[2015-08-20 21:58] fmarier opened #17 "Put a maximum file size on the resulting lists"
As a fail-safe, we should cap the total file size of each list.

I suggest the following starting values:

- tracking protection blacklists: 100k
- tracking protection entity whiteliste: 2M

[2015-08-20 23:47] sjhworkman commented on #17
Sounds wise. If for some reason the list goes above 100k, can you set up an
alert email or something. If it's for a legitimate list increase, we should
know that and increase the upper bound. If it's something wrong, we should
also be alerted to that.

On Thu, Aug 20, 2015 at 2:58 PM, Francois Marier <notifications@github.com>
wrote:

[2015-08-21 20:48] ckolos opened #19 "Allow list creation from local file"
list generation should support creating a list from a local (on local disk) file.

[2015-08-24 17:50] rtilder commented on #17
Should we cap the size of each list or for each new chunk generated?  While this script doesn't currently generate multiple chunks the publishing process should do that as necessary.  My only concern there is that some research is needed to identify an optimum max size for chunks based various factors including download efficiency for mobile devices and cost efficiency for serving the data at leas

[2015-08-24 20:37] fmarier commented on #17
For the purposes of detecting mistakes in list generation or in the upstream list, I would suggest only looking at the total list size for now.

Indeed and Safe Browsing v4 promises to improve on that, but I guess we'll find out once we start implementing it.

[2015-08-25 04:54] fmarier commented on #19
I've just tested this locally and it works fine if you use the `file:///home/francois/foo.json` format.

[2015-08-25 04:54] #19 closed

[2015-08-25 05:05] fmarier commented on #17
The revised entity list we got from Disconnect is down to 320k (from 1.8M), so we'll probably be able to go live with a limit of 500k for the entity whitelist.

[2015-08-31 23:02] fmarier opened #23 "Ensure that generated chunks are always < 1 MB"
Firefox will [ignore any chunks larger than 1MB](https://dxr.mozilla.org/mozilla-central/rev/f2518b8a7b97b5bb477e94bc9131584007aac887/toolkit/components/url-classifier/ProtocolParser.cpp#24) and so the list generation script should ensure that it never generates a chunk.

[2015-09-01 20:20] rtilder opened #24 "Publish chunks to predictable filenames for use via S3/CDN redirects"

[2015-09-02 16:16] rtilder commented on #24
Addressed in PR #22.  Pending merge.

[2015-09-02 20:28] ckolos opened #25 "only generate new data files if upstream data has actually changed"

[2015-09-02 20:31] ckolos commented on #25
This is already done I believe, but lives in a branch of a fork.

In order to merge here, we should be sure that current production list generation is unaffected.

[2015-09-09 00:47] fmarier opened #26 "Filter out public suffixes from the blacklist"
As an extra precaution, we should ensure that blacklists don't contain any bare [public suffixes](https://publicsuffix.org/). For example, we don't want to start blocking `.com` if that gets onto the list by mistake.

Something like `.com` is obvious and would most likely get caught by our manual review process, but others aren't. `googleapis.com` is currently [on the list](https://github.com/mozi

[2015-09-09 00:49] fmarier commented on #26
I found a [Python library](https://pypi.python.org/pypi/publicsuffix) that can do the public suffix checks. Here's the test I used to make sure it works:

[code]

[2015-09-09 22:36] fmarier commented on #26
Note: we should not make any changes to the list creation script until the diary study is over.

[2015-09-14 22:17] fmarier opened #28 "Expose publicly the log files for the list generation"
The list creation script spits out log files which contain all of the URLs and hashes that made it to the binary lists. This is useful for:

- testers trying to debug list update problems
- interested users wanting to scrutinize our lists

[2015-09-15 00:12] fmarier commented on #16
Note: if we do this, then we have to create a second whitelist to go with the `mozfull-track-digest256` list.

[2015-09-21 18:30] ckolos commented on #25
This has been done.

[2015-09-21 18:30] #25 closed

[2015-10-07 20:24] mwobensmith opened #30 "List creation using large list fails with Unicode-related error"
When I attempt to make a Shumway shavar list from a file with 2.7 million URLs, I get the following error:

Traceback (most recent call last):
  File "lists2safebrowsing.py", line 396, in <module>
    main()
  File "lists2safebrowsing.py", line 320, in main
    process_shumway(allowed, chunknum, output_file, log_file)
  File "lists2safebrowsing.py", line 180, in process_shumway
    canon_d = canon

[2015-10-08 13:37] ckolos commented on #30
This is in the shumway list creation... Can you pb/post your shavar.ini file?

[2015-10-21 16:06] fmarier commented on #28
Note: the script runs in Jenkins so we'll need to find a way to get the log output out of there.

[2015-11-04 21:16] fmarier commented on #17
After discussing this with Matt, I would suggest we also check for a minimum expected size. That way if something goes really wrong, we don't break the feature, we just keep using the old list until the issue in the list (or the list creation script) is resolved.

[2015-11-04 21:49] kontaxis commented on #17
Instead of checking the size of the list we could check how much it differs from older lists. This not only looks for huge or tiny lists but also for lists that have radically changed in terms of content without changing in size.

The Jaccard index or Dice coefficient look at how many entries two lists have in common and return their similarity. So for instance we can say that the old list and the

[2015-12-11 19:09] rtilder opened #31 "Add support for server side list data nullification?"
Should we add support for basically zeroing out a list on all or select clients as a panic button option?

[2016-01-12 21:36] fmarier commented on #16
We already filter out the same-origin entries (I think). For the non-blacklisted resources, it's tricky because it couples the black and white lists so it's probably not worth doing at this point.

[2016-01-12 21:36] #16 closed

[2016-06-20 16:39] groovecoder commented on #26
Maybe I don't understand the PSL library, but I'm not sure its `get_public_suffix` will help us prune our blocklist of bare public suffixes.

We have `googleapis.com` in our blocklist, and `psl.get_public_suffix("googleapis.com")` returns `googleapis.com`, which we already know ... so I don't know that it helps us filter that out? In addition, `psl.get_public_suffix("facebook.com")` returns `faceb

[2016-06-20 19:13] groovecoder commented on #26
I found [`publicsuffixlist` library](https://pypi.python.org/pypi/publicsuffixlist) far more helpful. Easy to implement and it successfully caught `googleapis.com` and `cloudfront.net`:

https://github.com/mozilla-services/shavar-list-creation/commit/20cd07edabdbdad9d4880bdd385a3286ccad2609

[2016-07-08 17:09] kontaxis commented on #26
You might be able to fork https://github.com/kontaxis/eTLDplusOne and slightly adapt it.

[2016-08-15 20:34] groovecoder opened #40 "Ensure property and resource hosts only appear in a single domain"
While processing the entity list, ensure that each property & resource domain only occurs in a single entity, to prevent down-stream bugs where a duplicate resource domain might be mis-identified as belonging to an entity.

See https://github.com/mozilla/blok/pull/104#discussion_r74635486

[2016-08-15 21:18] fmarier commented on #40
Maybe https://github.com/mozilla-services/shavar-prod-lists/blob/master/scripts/json_verify.py would be a better place for this test? It would catch these errors earlier.

[2016-08-15 21:57] groovecoder commented on #40
Oops, yeah I meant to put this into that repo.

[2016-08-15 21:57] #40 closed

[2016-08-19 21:30] fmarier commented on #26
Duplicate of https://bugzilla.mozilla.org/show_bug.cgi?id=1202082.

[2016-08-19 21:30] #26 closed

[2016-08-22 15:04] groovecoder commented on #23
Can this upper limit of 1MB just be rolled into https://github.com/mozilla-services/shavar-list-creation/issues/17 ? I.e., close this issue as a duplicate?

[2016-08-22 18:40] groovecoder commented on #17
For now I plan to implement the simple file size checks. The list similarity change is interesting, but I don't know that we have a pressing use-case for it? The main check here seems to be to protect us from making gross errors on the list files.

Sound good @kontaxis @fmarier ?

[2016-08-22 19:59] groovecoder commented on #17
This is complicated by the splitting of the lists. (https://github.com/mozilla-services/shavar-list-creation/pull/37) ...
[code]

I.e., each list has a different file size range. Especially `baseeff`, `basew3c`, `contenteff`, `contentw3c` will have very different size ranges to the other list(s).

So we would have to maintain a `min_file_size` and `max_file_size` in the `config.ini` section for ea

[2016-08-23 20:31] fmarier commented on #17
While it would be interesting to do, I think we can approximate that with the (much simpler) size check.

Good point. I think it's worth doing because then we could refer to it from the end-to-end docs too. Richard and Rebecca need to know expected sizes too.

[2016-08-23 20:34] fmarier commented on #23
We could, but that's in theory a different limit than the ones in #17.

Although I suspect that we're only using a single chunk at the moment. If that's the case, then maybe all we need is a comment somewhere in the list creation script that mentions the need to limit chunk sizes to 1M.

[2016-11-28 18:16] ckolos opened #42 "Investigate the process required to make this an aws:lambda function"
Given what this tool does it seems that it would be a good fit for aws:lambda versus running as a jenkins task.

[2017-01-26 17:09] groovecoder opened #43 "Skip list creation if PSL is unavailable"
See https://github.com/mozilla-services/shavar-list-creation/commit/d1c9b178e229703164dd16f90689d45083d080ef#commitcomment-20628330

[2017-03-15 19:11] fmarier opened #45 "Automatically add the trailing slash if it's missing"
Safe Browsing requires a trailing slash for bare domains (i.e. `example.com` is invalid but `example.com/` or `example.com/foo.html` are fine).

The list creation script should either break when it encounters `example.com` or (ideally) it should automatically add the slash.

[2017-06-01 15:45] groovecoder opened #47 "Refactor SECTIONS logic"
`lists2safebrowsing.py` currently uses a number of hard-coded `*_SECTIONS` sets to make different list contents for different types of lists in the `shavar_list_creation.ini` file.

We could move a `type` property into the `shavar_list_creation.ini` file to remove this hard-coding from the script.

[2017-10-03 20:44] fmarier opened #49 "[entitylist] Ensure that we don't generate entries for a domain with itself"
An entity list entry like this:

    "properties": [
        "example.com"
    ],
    "resources": [
        "example.com",
        "example.net"
   ]

Should lead to only one entry on the resulting pairwise allow list: `example.com/?resource=example.net`

It should not include `example.com/?resource=example.com`

[2017-10-03 22:42] groovecoder commented on #49
It looks like this is already the case. E.g., there are no entitylist entries logged for `consiliummedia.com` which is defined:

[code]

And, we don't create a property-resource allowance entry for the same domain. E.g., there's no `complex.com/?resource=complex.com` entry even though Complex Media is defined with `complex.com` in both the `properties` and `resources`:

[code]

[2017-10-03 22:58] groovecoder commented on #49
I'm leaving this open and adding a Continuous Integration label to it and 2 other "ensure" issues we have. We can roll those into a meta-issue to add all 3 checks to a single CI script.

[2018-02-02 17:08] groovecoder opened #52 "Create a prototype script to create CRLite "list"/file for shavar to serve"
CRLite is:

\- [CRLite Implementors Guide](https://docs.google.com/document/d/1WEXnW_3Fy6ZCYRFtoAZGy_xv65oQEcaAO9mVX3OHURc/edit?ts=5a5e0d6e#)
([Full research paper](http://www.cs.umd.edu/~dml/papers/crlite_oakland17.pdf))

As part of Firefox's implementation, we need:

\- [Firefox Product Requirements Document](https://docs.google.com/document/d/1nYy3FBae_E7VZeelAnSLtM5hLUJ8rVsZgh_evacMWZI/edit#he

[2018-09-14 21:04] englehardt opened #57 "The category lists in `sample_shavar_list_creation.ini` all have the same output name"
See: https://github.com/mozilla-services/shavar-list-creation/blob/master/sample_shavar_list_creation.ini#L33-L51.

The output name for these are all `content-track-digest256`.

[2018-09-21 15:11] ckolos commented on #57
Not sure that this is actually an issue; That config is not the one actually used for list generation.

[2018-12-11 17:54] englehardt opened #59 "Update list creation script to support Disconnect's categories"
The list creation scripts should produce category specific sublists such we can consume them in URL classifier features as defined in [Bug 1513046](https://bugzilla.mozilla.org/show_bug.cgi?id=1513046).

[2018-12-19 23:00] englehardt opened #60 "PEP8 list creation script"
The list creation script could benefit from a run of `autopep8`. The output of  `python -m pep8 --statistics lists2safebrowsing.py`

[code]

[2018-12-20 01:40] englehardt opened #61 "Refactor list creation script to use DisconnectParser"
Right now the list creation script includes a bunch of list parsing logic. We can abstract that away by refactoring the script to use [this list parser](https://github.com/mozilla/trackingprotection-tools/blob/master/DisconnectParser.py). I need to keep that parser updated for analysis purposes, so we may as well use it here.

[2019-01-02 19:03] groovecoder opened #63 "Add ads-twitter.com to disconnect_mapping.py"
https://github.com/mozilla-services/shavar-prod-lists/pull/42 added ads-twitter.com under the `Disconnect` cateogry, but we didn't map it to a category in `disconnect_mapping.py`. This is causing `[ERROR] ads-twitter.com not found in disconnect_mapping` during `lists2safebrowsing.py`.

[2019-01-02 20:18] englehardt commented on #59
Closed via #62

[2019-01-02 20:18] #59 closed

[2019-01-07 15:41] groovecoder commented on #63
This check could/would be to check that ads-twitter.com resources *are allowed* on Twitter properties. But mainly I will check that the `lists2safebrowsing.py` script doesn't throw any more errors.

[2019-01-15 23:11] groovecoder opened #64 "Move cryptomining domains from tags in the Advertising category to a new top-level category"
See https://github.com/mozilla-services/shavar-prod-lists/pull/43#issuecomment-454565973. Still digging into the cause here.

[2019-01-22 22:06] englehardt commented on #64
We are consuming the tags as intended, but perhaps we should reconsider the use of `cryptominer` as a tag.

IMO the tags are meant to annotate domains on the list with additional context beyond their top-level category. Some examples:
* An advertisement company which fingerprints will be present in the top-level `Advertisement` category and will receive a `fingerprinting` tag
* An analytics compan

[2019-01-24 05:53] patjack commented on #64
@englehardt you're right - we are currently using the "Advertising" top-level category for the cryptominers and it could be classified better. I think it does make sense to create new top-level categories for domains that don't fit in the current categories. Does adding `Cryptominer` and `Fingerprinter` as new top-level categories sound good to you? If so, I can add support for that on our side an

[2019-01-30 17:42] englehardt commented on #64
Updating the title the reflect the fix we converged on.

[2019-01-30 23:08] patjack commented on #64
I just pushed the updated list w/the new category `Cryptomining`. You can take a look here: [https://github.com/disconnectme/disconnect-tracking-protection/blob/master/services.json#L9410](url)

I have a few more changes/housekeeping items and will finish those before I submit a PR but just wanted to share the list w/new category first.

[2019-01-31 00:59] englehardt commented on #64
Thanks! This format looks good to me. I think you can drop the `"cryptominer": "true"` tags from these, given that that information is now redundant with the top-level category.

[2019-02-01 02:58] englehardt opened #68 "Add support for incremental list updates"
Dimi has confirmed that we have support for this in the platform. Apparently we may also have server-side support [0]. If that works, maybe we just need to update the shavar-list-creation script to generate new “add chunk”(trackers to add) and “sub chunk”(trackers to remove) accordingly.

This would allow us to quickly review and merge list updates, rather than worrying about batching them due to

[2019-02-01 16:31] groovecoder commented on #68
Another great idea ... may be some significant work and more meticulous release engineering to get this right.

E.g., we would have to tag versions in shavar-prod-lists when we release new list contents, and then we could use the version differences to generate the add & subtract chunks.

Will need some planning and design for sure.

[2019-02-01 16:33] #57 closed

[2019-02-01 16:41] #63 closed

[2019-02-26 17:32] englehardt commented on #64
Fixed in https://github.com/mozilla-services/shavar-prod-lists/pull/54

[2019-02-26 17:32] #64 closed

[2019-03-12 00:46] englehardt opened #74 "Remove DNT exception for list creation script"
See also: https://bugzilla.mozilla.org/show_bug.cgi?id=1515818

[2019-03-13 17:54] englehardt opened #75 "Find a better name for the `content-` lists"
The `base-track-digest256` and `content-track-digest256` naming came from a desire to split out the `Content` category of the tracking list from all other categories. Now that we've added new categories to the list, we've re-used the `content-` and `base-` naming (e.g., `content-fingerprinting-track-digest256`) but this [is confusing](https://github.com/mozilla-services/shavar-list-creation/pull/7

[2019-03-27 19:52] Mozilla-GitHub-Standards opened #78 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-05-15 00:19] arthur-mozilla opened #82 "obsolete domains on remapping list"
Two domains are on the remapping list but not on the blacklist:
* googletagmanager.com
* backtype.com

[2019-05-15 14:43] groovecoder commented on #82
Thanks for filing. I have to think if it's worth fixing these on their own, or waiting until we have another list update planned. (Any time we create new lists we cause a big spike of downloads across all Firefox users [and from our servers].)

@englehardt - best I can tell, the `_parse_blocklist` function in `DisconnectParser.py` will simply never try to re-map these domains, now that they are ou

[2019-05-15 21:39] englehardt commented on #82
@groovecoder that's correct. Removing these two domains should have no impact on the generated lists.

[2019-08-30 14:35] #78 closed

[2019-09-06 22:52] skim1102 opened #89 "Reduce debug output message"
Currently there are 12.6MB of debug outputs every time `shavar-list-creation` is ran on Jenkins. Debug outputs should be reduced as recommended by @ckolos

[2019-09-09 13:16] groovecoder commented on #89
Request: can we put the debug output behind a flag? Either a command-line flag or an environment variable? In case we need them to debug the script on jenkins.

[2019-09-09 15:33] groovecoder commented on #89
@ckolos we can do the python side, but I'm not sure how to squelch output of the rest of the jenkins commands? In particular, the lines after `+ source /tmp/.remote_settings` output the REMOTE_SETTINGS secrets. 😢

[2019-09-09 15:51] skim1102 opened #90 "Create versioned lists to enable testing"
After Firefox 69 some of the shavar lists which were used only in the private browsing mode will now be available on normal browsing by default. To make sure we are not hindering the users' experience while browsing we want additional lists separated based on Nightly, Beta, and Release to test the lists before pushing to Release.

# Acceptance Criteria
- [ ] Have the following lists (@englehardt):

[2019-09-09 18:09] groovecoder commented on #90
Thanks for filing. My initial idea is to have 3 long-running branches in the shavar-prod-lists repo ...

* `master` receives Pull Requests from Disconnect; the script uses the `master` branch to create, e.g., `base-track-master-digest256`
* `beta` receives Pull Requests from `master`; the scripts uses the `beta` branch to create, e.g., `base-track-beta-digest256`
* `production` receives Pull Reque

[2019-09-10 01:00] englehardt commented on #90
We'd like to allow all list updates to bake with the Firefox configuration they'll be shipping with for at least a full cycle. This isn't really possible because beta has "early" beta and "late" beta, which may differ slightly depending on what's hidden behind the `EARLY_BETA_OR_EARLIER` build flag. However, it's the best we can do with our release cycle.

The three list option makes sense if we c

[2019-09-10 15:12] ckolos commented on #89
Really not much to be done about that currently. When this is ported to pipelines, this won't be an issue. The audience to this output is limited.

[2019-09-11 18:24] englehardt commented on #60
Fixed by #71

[2019-09-11 18:24] #60 closed

[2019-09-11 18:24] englehardt commented on #61
Fixed by #72

[2019-09-11 18:24] #61 closed

[2019-09-11 18:41] englehardt opened #91 "Compare entity list entries against the public suffix list."
When we consume the entity list, we generate safebrowsing hashes of the form `http://<property_origin>/?resource=<resource_origin>`. We do so by directly passing the origins given in the Disconnect entity list.

When these origins are checked in Firefox, we grab the [hostname of the top-level page and the base domain of the third-party resource](https://searchfox.org/mozilla-central/rev/a777ff11b6

[2019-09-24 20:22] groovecoder opened #93 "Catch requests `ConnectionError` during publish2cloud"
The stage job is currently broken trying to access Remote Settings. (See https://bugzilla.mozilla.org/show_bug.cgi?id=1580884) The code should catch the `ConnectionError`s and gracefully execute the rest of the code while logging the error.

[2019-09-24 20:23] groovecoder commented on #93
[code]

[2019-09-24 20:29] groovecoder opened #94 "UnboundLocalError: local variable 'output_file' referenced before assignment"
On the jenkins production job (without the config files updated)

[code]

[2019-09-24 21:22] #94 closed

[2019-09-24 21:32] #93 closed

[2019-09-24 22:11] groovecoder opened #97 "Lower the timeout for requests to Remote Settings"
Now that #93 is fixed, the job keep running. But the connection errors happen after timeouts which take a while. Can we lower the `requests` timeout to make it fail+finish sooner?

[2019-09-26 16:30] skim1102 commented on #90
Logical checks for returning versioned lists:
- If lower than version X return Y
- If no exact match truncate and check match
- If higher than existing versions return Master
- If in between return the lower one (version available 68, 70 and version provided 69 then return versioned lists for 68)

[2019-09-30 20:40] #97 closed

[2019-10-11 20:43] englehardt opened #102 "Consider allowing the blocklist to include private domains from the public suffix list"
In #26 we started filtering public suffixes from the blacklist. For true public suffixes this makes sense (like `.com`), but for private suffixes added to the public suffix list it might not. For a comparison between the two see [the tldextract library](https://github.com/john-kurkowski/tldextract/tree/cd911e3af960808f9ed9818197d405b06b36a89e#public-vs-private-domains).

Let's say I'm a tracker tr

[2019-10-28 23:46] englehardt opened #104 "Throw an error when the size of a generated digest256 list does not exceeds Firefox's maximum chunk size"
See https://github.com/mozilla-services/shavar-prod-lists/pull/79#issuecomment-547186843 for the problems that can result from not doing this. This max chunk size is given [here](https://searchfox.org/mozilla-central/rev/11d9c7b7fa82fdfb8ac2a8f0864e9d8d5fe2b926/toolkit/components/url-classifier/ProtocolParser.cpp#33), and enforced [here](https://searchfox.org/mozilla-central/rev/11d9c7b7fa82fdfb8a

[2019-11-01 18:00] skim1102 opened #106 "Same chunknum value used when generating versioned lists"
# Issue Description
When designing #90 and pushing https://github.com/mozilla-services/shavar-list-creation/pull/92 since the versioned lists are being held in a separate path (`<s3_bucket>/tracking/<version>/<list_name>`) I had assumed that Shavar server will be able to to get the right versioned list. After pushing https://github.com/mozilla-services/shavar/pull/115 and testing Shavar server I r

[2019-11-14 16:04] skim1102 commented on #106
The two PRs merged fixed the issue. Tested on Staging and everything looks good.

[2019-11-14 16:04] #106 closed

[2019-11-24 21:56] birdsarah opened #108 "Make Python3 compatible"
Just a note that this library is not currently py3 compatible.

I took a quick stab at it, but it'll be a little more than a very quick job due to unicode/bytes drama.

Time to fix will be dependent on whether can just upgrade to py3 or whether it needs to maintain py2 compatibility.

Initial stuff:
* use six for imports of ConfigParser and urllib
* use requests for getting instead of urlopen

[co

[2019-12-09 18:03] garvankeeley opened #110 "Output a fingerprinting list"
The fingerprinting list is an intersection of the shavar fingerprinting list and some other list (I am not sure which one).
For iOS (and possibly other consumers), the fingerprinting list is needed as a dedicated list. Ideally this would be a simple JSON array of domains to simplify consumer parsing.

[2019-12-09 18:07] garvankeeley opened #111 "Output shavar lists in additional simplified format for consumers"
On iOS, the shavar list is parsed and re-formatted, mainly it is parsed into an array of domains for each category. It may be useful to have the shavar lists output as a secondary simpler format for consumers.

[2019-12-18 17:43] groovecoder commented on #104
This can be marked as fixed now?

[2019-12-18 17:45] skim1102 commented on #104
Not yet, I need to refactor the code so that it exits before publishing at all. I conveyed that with @englehardt and will remove this as a blocker for #109

[2019-12-18 18:01] skim1102 opened #114 "Remove Google entities from standard entity list for channels newer than 72"
In order to ship functionality to split out large entities from the standard entity list on the client side we need Google entities still in the standard entity list along with `google-trackwhite-digest256` list being available to be served by Shavar. To enable this I removed the check to remove Google entity lists from the standard list for now:
https://github.com/mozilla-services/shavar-list-cre

[2019-12-27 15:36] skim1102 commented on #111
List to be available under a subfolder in shavar-prod-lists repo.

[2020-02-25 05:57] skim1102 commented on #114
https://github.com/mozilla-services/shavar/pull/122 enabled Google entities to be split off from the `mozstd-trackwhite-digest256` starting from Firefox [version 74](https://github.com/mozilla-services/shavar-list-creation/blob/master/constants.py#L116).

[2020-02-25 05:57] #114 closed

[2020-02-25 05:59] #90 closed

[2020-03-05 16:53] skim1102 opened #118 "Remove Disconnect and Google mapping references"
# About this Issue
As mentioned in this [issue](https://github.com/mozilla-mobile/firefox-ios/issues/5968) we are not longer using `google-mapping.json`. Also, since we applied all the mapping for Disconnect category since [this pr](https://github.com/mozilla-services/shavar-prod-lists/pull/110), we can now remove all the references to `google-mapping.json`, Disconnect category, and `disconnect-ma

[2020-03-06 15:04] dtlight opened #119 "Installation on mac os fails using requirements.txt"
**The issue:** trouble installing via requirements.txt which throws an installation error for plyvel.
**Operating system:** Mac OS
**Solution:** install leveldb via homebrew by issuing the command "brew install leveldb", then run requirements.txt
**Action:** Is it worth adding this to the readme instructions for the sake of future outreachy or other contributors?

[2020-03-06 15:31] skim1102 commented on #119
Thanks for bringing this issue up. I recommend leaving this issue open for few weeks and if we get other contributors experiencing the same issue (if you are please comment here) we should go ahead and update the README.

[2020-03-06 17:38] boolean5 commented on #118
Hi, @skim1102! May I work on this issue?

[2020-03-06 21:32] skim1102 commented on #118
@boolean5, definitely!

[2020-03-10 14:45] boolean5 commented on #118
I  just submitted a PR that removes references to the Disconnect category and `disconnect_mapping.json`. @skim1102, could you please take a look?
As far as I can see there are no references to `google_mapping.json` in this repo. Am I missing something?

[2020-03-11 19:13] shreyagupta30 commented on #89
Hey @skim1102! I would like to work on this issue. Could you please explain to me a little about it?

[2020-03-11 19:18] shreyagupta30 commented on #108
Hello @birdsarah! I am an outreachy applicant and was looking for a good first bug to fix for my contribution period. This issue caught my eye. I would like to work on this. Could you please guide me a little about this project.

[2020-03-11 19:48] englehardt commented on #108
Redirecting this request to @skim1102

[2020-03-12 15:15] skim1102 commented on #108
@englehardt thanks for bringing me into the conversation.

@shreyagupta30 I am glad to hear this caught your attention, however for the contribution stage for Outreachy Internship we are only accepting pull requests for issues that are labeled `good first bug`. If you are having a hard time figuring out which issues are good to work on I recommend reading the documentations on https://www.outreach

[2020-03-12 18:42] shreyagupta30 commented on #104
Hi @skim1102 Can I work on this?

[2020-03-12 20:39] skim1102 commented on #118
@boolean5, if you follow the PR and comments in https://github.com/mozilla-services/shavar-list-creation/pull/70 it seems `google_mapping.json` was folded into `disconnect-mapping.json` as mentioned [here](https://github.com/mozilla-services/shavar-list-creation/pull/72/files#diff-f1f16ae8cb1fa77b473aff7c3793d391L1). I also did a global search in shavar-list-creation code base and was unable to se

[2020-03-12 20:47] skim1102 commented on #118
Waiting for response from https://github.com/mozilla-mobile/firefox-ios/issues/5968#issuecomment-598410933 to remove `disconnect_mapping.json` file.

[2020-03-12 20:49] skim1102 commented on #118
@Amejia481, are all the android projects not using the GeckoView no longer using `google_mapping.json` and `disconnect_mapping.json`? I just want to confirm that those two files can be removed now.

[2020-03-13 04:11] skim1102 commented on #89
Hi @shreyagupta30, I just saw this. Will you be claiming this one or the https://github.com/mozilla-services/shavar-list-creation/issues/104?

[2020-03-13 04:16] shreyagupta30 commented on #89
#104 is good. Thanks! :D

[2020-03-13 13:16] Amejia481 commented on #118
Yes @skim1102, we removed on https://github.com/mozilla-mobile/android-components/pull/6183/commits/0ef4a7b16214fb824fdbe61c3148a82942feebe6. From our side, It is OK to remove it.

[2020-03-16 11:28] boolean5 commented on #118
@skim1102, my understanding from the conversation in https://github.com/mozilla-mobile/firefox-ios/issues/5968 and from a quick look at the Firefox-iOS code base is that it uses the `google_mapping.json` file from the shavar-prod-lists repository. So `disconnect_mapping.json` in shavar-list-creation is not used anymore and can be safely removed, right?

[2020-03-17 00:15] skim1102 commented on #118
@boolean5, yes--`disconnect_mapping.json` can be removed and there should be another PR to remove disconnect_mapping.json if the firefox-ios issue is not closed before the merging of #121. Thanks for reading the thread on the firefox-ios issue.

[2020-03-17 00:17] skim1102 commented on #118
Unchecked the first a/c in the PR description because firefox-ios still uses the `google_mapping.json`

[2020-03-17 07:11] svensevenslow commented on #110
Hi! I'd like to work on this issue. Could you please explain in a little bit more detail about what needs to be done?

[2020-03-19 00:08] LilyLME commented on #89
Hello @skim1102, I would like to work on this, additionally can you provide some more context on what needs to be done?

[2020-03-19 14:49] svensevenslow commented on #110
@skim1102  Hi! I'd like to work on this issue. Could you please explain in a little bit more detail about what needs to be done?

[2020-03-19 20:53] skim1102 commented on #118
Checked

after merging https://github.com/mozilla-services/shavar-list-creation-config/pull/60

[2020-03-19 21:52] skim1102 commented on #89
@LilyLME, welcome 👋. Sample debug messages in this repo are:
[code]
I view anything printed while running `lists2safebrowsing.py` or `publish2cloud.py` as debug outputs. I suggest creating multiple flags to suppress the various outputs we get.

If you are still interested on working on this project I would be happy to assign you to this issue.

[2020-03-19 21:54] skim1102 commented on #104
Hey @shreyagupta30! Just checking on the status of this issue. Do you need anything clarified or have questions on the implementation for fixing this issue?

[2020-03-19 22:10] LilyLME commented on #89
@skim1102 yes I am! Please go ahead

[2020-03-19 22:12] LilyLME commented on #89
Thank you! @skim1102
Meanwhile do you think is better to have that suppresses the outputs or is better to have this outputs off by default and have flags to activate them?

[2020-03-20 00:52] LilyLME commented on #45
@skim1102 please can you look at this an assign to me with some more context?
Does not look like a complex issue 😊

[2020-03-20 08:46] shreyagupta30 commented on #104
Yes, ma'am! I am still not able to figure out how to get started here. :(

[2020-03-20 14:25] boolean5 opened #126 "Document uses of lists containing the Disconnect category"
The Disconnect category is not used anymore since https://github.com/mozilla-services/shavar-prod-lists/pull/110 but there are still at least three repositories with outdated lists that contain it:

* https://github.com/mozilla-services/shavar-staging-lists
* https://github.com/mozilla-services/shavar-test-lists
* https://github.com/mozilla-services/shavar-experiments

This issue is about document

[2020-03-20 17:31] boolean5 commented on #126
References found so far:

* shavar-list-creation-config/prod.ini uses the [whitelist](https://github.com/mozilla-services/shavar-list-creation-config/blob/master/prod.ini#L165) from shavar-staging-lists
* shavar-list-creation-config/stage.ini uses the [whitelist](https://github.com/mozilla-services/shavar-list-creation-config/blob/master/stage.ini#L118) from shavar-test-lists and the [whitelist](h

[2020-03-23 20:32] garvankeeley commented on #110
Closing as this has been done, see https://github.com/mozilla-services/shavar-prod-lists/blob/72.0/normalized-lists/base-fingerprinting-track.json

[2020-03-23 21:38] skim1102 commented on #110
@svensevenslow, yes you can work on this one. As @garvankeeley pointed out, we need to generate the `base-fingerprinting-track.json` and create a PR on the shavar-prod-lists when changes happen on any of the following categories: `Advertising`, `Analytics`, `Social`, `Content`, or `Fingerprinting` as specified in the configuration for generating the `base-fingerprinting-track-digest256` [here](htt

[2020-03-23 21:40] skim1102 commented on #110
@svensevenslow, please note that the branches on shavar-prod-lists are versioned. Meaning `base-fingerprinting-track.json` should be generated using values in the respective versioned branch in shavar-prod-lists repo AND the JSON file should be uploaded to the respective versioned branches.

[2020-03-24 09:50] svensevenslow commented on #110
Thank you for the detailed explanation, I'll get back to you if I have any queries while working on it.

[2020-03-31 18:42] svensevenslow commented on #110
Hi @skim1102 ! I've opened a [ PR ](https://github.com/mozilla-services/shavar-list-creation/pull/128)for this issue, could you please have a look.

[2020-04-01 17:31] boolean5 commented on #82
I think this can be closed now, as the `disconnect_mapping.json` file was removed in https://github.com/mozilla-services/shavar-list-creation/pull/121

[2020-04-02 15:14] skim1102 commented on #89
@LilyLME, I would recommend outputs off by default and flag to activate them.

[2020-04-02 15:19] say-yawn opened #129 "Add unittests for code in lists2safebrowsing.py"
Currently there are no unittests for lists2safebrowsing.py and having unittests will ensure that the scripts work as expected.

# Acceptance Criteria
- [x] #135 is completed
- [x] #136 is completed
- [x] #137 is completed (PR #142)
- [x] Integrate with CircleCI (PR https://github.com/mozilla-services/shavar-list-creation/pull/140)
- [x] Configure coverage reporting (PR https://github.com/mozilla-s

[2020-04-02 15:20] skim1102 opened #130 "Add unittests for code in publish2cloud.py"
Currently there are no unittests for publish2cloud.py and having unittests will ensure that the scripts work as expected.

[2020-04-02 16:02] skim1102 commented on #104
As discussed on this [comment](https://github.com/mozilla-services/shavar-list-creation/pull/107/files#r358298841) the assertion for the max size should differ based on what version the branch is using.

- for versions equal to or higher than 73 the max size is 4 mebibytes as mentioned in [bug 1594497](https://bugzilla.mozilla.org/show_bug.cgi?id=1594497)
- for versions equal to or lower than 72 t

[2020-04-02 16:24] shreyagupta30 commented on #104
Looking into it.

[2020-04-02 16:35] dave-light opened #131 "create setup.py"
To achieve https://github.com/mozilla-services/shavar-prod-lists/pull/156 3 scripts are needed from shavar-list-creation. Since it's not a best practice to duplicate the same code, i've decided to install the shavar-list-creation modules via pip as per https://stackoverflow.com/questions/16584552/how-to-state-in-requirements-txt-a-direct-github-source?noredirect=1&lq=1

I'm unable to install at th

[2020-04-02 16:49] skim1102 commented on #131
@dave-light I don't think shavar-list-creation should be packaged. I would instead suggest using the existing code in shavar-list-creation to get inspiration on how to achieve the same on shavar-prod-lists. Moving the discussion back to https://github.com/mozilla-services/shavar-prod-lists/pull/156

[2020-04-02 16:49] #131 closed

[2020-04-02 19:01] skim1102 commented on #118
Re-opening because

is still not fulfilled yet.

[2020-04-07 15:47] yamini27 commented on #129
Ma'am, I have made a pull request for this issue which is https://github.com/mozilla-services/shavar-list-creation/commit/9fef0fe1611868931ed5a46be5623c32296c77ea . Please review it and suggest further changes. Thank you!

[2020-04-17 19:52] skim1102 commented on #118
https://github.com/mozilla-mobile/firefox-ios/issues/5968#issuecomment-615432530
`google-mapping.json` can be removed!

[2020-04-20 05:31] skim1102 commented on #129
@yamini27 Hello! Thank you for filing a commit to add unittests to shavar-list-creation. Here are some recommendations:

- I think it's best to use [pytest](https://docs.pytest.org/en/latest/getting-started.html) for the testing framework
- It would be nice to have a `test` folder for `test_lists2safebrowsing.py` and `test_publish2cloud.py` files where each files are testing code in the respective

[2020-04-20 06:16] say-yawn opened #132 "Add domains in alphanumeric order"
# About this Issue
After merging https://github.com/mozilla-services/shavar-prod-lists/pull/110, there was an "update" to the tracking protection lists even though the content of the lists did not change. Further, investigation showed that the "update" happened due to the change in the order of the domains being added lists.

# Acceptance Criteria
- [ ] Domains are added alphanumerically to the li

[2020-04-20 14:55] boolean5 commented on #118
Great! I submitted a PR for this here: https://github.com/mozilla-services/shavar-prod-lists/pull/176

[2020-04-21 16:08] boolean5 commented on #132
My understanding from https://github.com/mozilla/openwpm-utils/issues/15 is that [trackingprotection-tools](https://github.com/mozilla/trackingprotection-tools) should now use `domain_utils` instead of `openwpm_utils`.
[shavar-list-creation](https://github.com/mozilla-services/shavar-list-creation) is [still using](https://github.com/mozilla-services/shavar-list-creation/blob/master/lists2safebrow

[2020-05-07 16:00] say-yawn opened #133 "Create a PR to Firefox iOS when updates to lists happens"
# About this PR
Related to https://github.com/mozilla-services/shavar-list-creation/issues/110, since Firefox iOS is getting the SHA of shavar-prod-lists [here](https://github.com/mozilla-mobile/firefox-ios/blob/master/Cartfile.resolved#L17) to generate their own Tracking Protection lists to be included in the iOS binaries, the SHA should be updated whenever Firefox iOS does a new release. Since w

[2020-05-21 14:25] boolean5 opened #134 "Use digest_size instead of hardcoded value"
In `lists2safebrowsing.py` the size of sha256 hashes is hardcoded to 32 bytes in several places, when we could be using `hash.digest_size` to get it. The result would obviously be the same, but it would be a small improvement in terms of readability.

[2020-05-25 15:36] boolean5 opened #135 "Add unit test for canonicalize"
We should add a unit test for the `canonicalize` function in `lists2safebrowsing.py`. We can probably use the suggested test cases from https://web.archive.org/web/20160422212049/https://developers.google.com/safe-browsing/developers_guide_v2#Canonicalization

[2020-05-25 15:37] boolean5 opened #136 "Add unit test for add_domain_to_list"
We should add a unit test for the `add_domain_to_list` function in `lists2safebrowsing.py`. Examples of things to test:
* That domains are not added to the list twice
* That a domain is not added to the list if it is in the public suffix list

[2020-05-25 15:38] boolean5 opened #137 "Add unit tests for blocklist and entity list generation"
We should add a unit test for the `write_safebrowsing_blocklist` function in `lists2safebrowsing.py`. Among other things we should test:
* That the loop which adds domains to the list works as expected and we get the expected output file
* That the `hashdata_bytes` value written in the list header is correct

Additionally, we should add unit tests for `process_entity_whitelist` and `process_plugin

[2020-05-27 16:13] boolean5 commented on #135
Running the test cases from the above link may have uncovered a few bugs in the canonicalization implementation. I'll describe them here briefly. The question is, which of them are indeed bugs and which are intentional design choices?

1. The following 3 assertions are all failing with
`AssertionError: assert ' leadingspace.com/' == '%20leadingspace.com/'`:

        assert canonicalize("http:// le

[2020-05-28 20:21] say-yawn commented on #135
Let's bring this up in our weekly meeting

Need to confirm this in the weekly meeting

There was a `TODO` comment to use `urlparse`. I think It's worth looking into that to fix this. If you think it will take longer than a day to update the code to use `urlparse` we can create a separate issue and for not `strip()` for spaces before and after the domain.

Need to confirm in meeting

Not sure if we

[2020-05-29 16:21] say-yawn commented on #135
4. Fourth case should just throw and error. Alternatively we can use URL join but we should fail and display an error that our logic does not support this case--that way we can use this on shavar-prod-lists CircleCI check and our Disconnect partners can see why it failed)
5. Use URLParse and if the host name is empty throw an error (we are assuming that the numbers will be considered as a part of

[2020-06-01 09:31] boolean5 commented on #135
' leadingspace.com'

    'www.gotaport.com'

    ParseResult(scheme='', netloc='', path=' http://www.google.com/ ', params='',
    query='', fragment='')

As can be seen above, `urlparse`:

1. Preserves spaces in the hostname
2. Does not include the port in the hostname
3. If there are leading spaces `urlparse` returns an empty hostname and thinks that
`" http://www.google.com/ "` is the path. Thi

[2020-06-01 09:42] boolean5 commented on #135
Do we have an update on this? We should keep in mind that this is not just about spaces but any character that is <= ASCII 32, >= 127, "#", or "%".

[2020-06-04 03:11] say-yawn commented on #135
Creating a separate issue for using url-parse sounds good to me.

[2020-06-04 09:57] boolean5 opened #139 "Make some improvements in canonicalize"
The discussion that took place while writing the unit tests for `canonicalize` highlighted several improvements that can be made. Specifically:

- [ ]  Use `urlparse` to extract the hostname and the path from the url instead of using a regular expression. This is expected to simplify the code significantly.

- [ ] Add a docstring that will mention the differences between our implementation and the

[2020-06-05 16:11] #135 closed

[2020-06-09 09:05] boolean5 commented on #108
Leaving a note here that once we upgrade to Python 3 we should use the most recent version of `pytest`. Right now `pytest` is pinned to the last version that supports Python 2.7.

[2020-06-11 18:18] boolean5 commented on #136
Based on [this comment](https://github.com/mozilla-services/shavar-list-creation/blob/master/lists2safebrowsing.py#L284), it seems that the purpose of keeping a set of `previous_domains` is to avoid adding them to a blocklist twice. However, `add_domains_to_list` does not do this.

Similarly, based on [this docstring](https://github.com/mozilla-services/shavar-list-creation/blob/master/lists2safeb

[2020-06-13 01:00] say-yawn commented on #108
Dependent on completion of:
- [ ] https://github.com/mozilla-services/shavar-list-creation/issues/130
- [ ] https://github.com/mozilla-services/shavar-list-creation/issues/129

[2020-06-18 17:28] boolean5 commented on #136
On a closer look, the `previous_domains` set is necessary. This is because after canonicalization is applied to the domains in the set passed to `write_safebrowsing_blocklist`, some of them might end up becoming the same domain.

For example, suppose that both
`https://www.example.com` and  `https://www.Example.com.../path#fragment` are in the set passed to `write_safebrowsing_blocklist`. After ca

[2020-06-22 15:31] say-yawn commented on #102
@boolean5

[2020-06-22 16:32] englehardt commented on #102
Some additional context here. We originally started skipping public suffixes because of [Bug 1202082](https://bugzilla.mozilla.org/show_bug.cgi?id=1202082). Basically tracking protection would match any public suffix on the blocklist because of [Bug 1203635](https://bugzilla.mozilla.org/show_bug.cgi?id=1203635), but our entitylist would fail to apply because the entity list only checks public suff

[2020-06-23 12:24] boolean5 commented on #102
The latest version of `publicsuffixlist`, which is the library we are currently using, has an `only_icann` keyword argument that can be used to only check against the public section of the Public Suffix List.

Commit 3fd850097 in https://github.com/mozilla-services/shavar-list-creation/pull/141 makes `add_domain_to_list` raise a `ValueError` for domains in the public section of the PSL but permits

[2020-06-24 00:05] englehardt commented on #102
Yes that's what I had in mind. I added one suggestion in the PR to point back to this issue for context.

[2020-07-01 15:18] boolean5 opened #144 "Prevent addition of duplicates in process_entity_whitelist"
In `process_entity_whitelist`, the `urls` set is updated but never checked  against, so duplicates may be added. Shouldn't we check if a url is already in this set before adding it to the list?

Something else that I noticed is that the `if prop == res` check (https://github.com/mozilla-services/shavar-list-creation/blob/master/lists2safebrowsing.py#L348) happens before the domains corresponding t

[2020-07-01 20:13] say-yawn commented on #108
Dependent on completion of:
- [ ] https://github.com/mozilla-services/shavar-list-creation/issues/132

[2020-07-02 16:40] say-yawn commented on #126
As per conversation in the Shavar updates meeting
- https://github.com/mozilla-services/shavar-staging-lists
can be removed as it is no longer maintained/used
- https://github.com/mozilla-services/shavar-test-lists
should stay as it seem to be used for QA testing
- https://github.com/mozilla-services/shavar-experiments
should stay as we may use it for other experiments
cc @englehardt

[2020-07-02 16:58] say-yawn commented on #126
- [ ] archive (?) https://github.com/mozilla-services/shavar-staging-lists
- [ ] either remove the `track.json` file or remove the Disconnect category from the `track.json` file
- [ ] remove the files in https://github.com/mozilla-services/shavar-experiments as the lists are no longer used since this [PR](https://github.com/mozilla-services/shavar-list-creation-config/pull/60/files#diff-85697f5103

[2020-07-06 11:46] boolean5 opened #149 "Remove deprecated cryptominer and fingerprinting tags"
Remove references to the "cryptominer" and "fingerprinting" tags from:

- [x] [shavar-prod-lists](https://github.com/mozilla-services/shavar-prod-lists) (PR https://github.com/mozilla-services/shavar-prod-lists/pull/247)
- [x] [shavar-list-creation-config](https://github.com/mozilla-services/shavar-list-creation-config) (PR https://github.com/mozilla-services/shavar-list-creation-config/pull/62)
-

[2020-07-08 18:47] #136 closed

[2020-07-08 18:47] #102 closed

[2020-07-08 19:40] say-yawn opened #151 "Use Staging branch for staging tests"
# About this Issue
Now that we are making some significant changes and much-needed cleaning done on this repo we want to be able to test the code changes before we merge to main/prod.

# Acceptance Criteria
- [x] Stage Jenkins2 job is running using the stage.ini from shavar-list-creation-config
- [x] Stage Jenkins2 job is running using the stage branch in this repo

[2020-07-10 13:25] boolean5 commented on #108
Leaving a couple more notes:
- https://github.com/mozilla-services/shavar-list-creation/pull/141 introduced `mock` as a dependency, but once we switch to Python 3 we can remove it. This is because in Python 3 `mock` is part of the standard library. We will just have to replace `from mock import call, patch, mock_open` with `from unittests.mock import call, patch, mock_open`.
- When we migrate to P

[2020-07-10 19:31] ltm opened #153 "cloudfront.net is added to tracking content block list"
It looks like cloudfront.net (the Amazon CloudFront domain) is added to the content-track-digest256 block list as a result of #141 and specifically commit 8f805a7081d017c5cd1a500c56b1ab4a27f76b44. This causes several sites (such as circleci.com and Atlassian Jira) to break when the "Level 2 block list" is used in Firefox.

[code]

[2020-07-13 14:47] say-yawn commented on #153
Hi @ltm thank you for submitting this issue. I will look into this.

[2020-07-13 14:48] say-yawn commented on #153
Related to https://github.com/mozilla-services/shavar-list-creation/issues/102

[2020-07-13 14:51] ltm commented on #153
Thanks, @say-yawn. Reading #102 it looks like adding cloudfront.net to the block list was intentional. However, using Firefox 78 with "Level 2 block list" content tracking enabled, I've experienced several major sites, such as Atlassian Jira, circleci.com, and nextdoor.com break entirely.

[2020-07-13 23:11] say-yawn commented on #153
Tested on https://nextdoor.com, https://www.atlassian.com/software/jira, and https://circleci.com/ but was unable to see (1) cloudfront.net was blocked under content-tracking on those sites and (2) unable to find breakages.
@ltm can you elaborate more on where you found the breakages using what version of Firefox? Any screenshots, link, or steps to reproduce the breakage would be appreciated.

[2020-07-14 14:48] ltm commented on #153
@say-yawn I'm running Firefox 78.0.2 (Build ID 20200708170202) on macOS Catalina:

<img width="641" src="https://user-images.githubusercontent.com/714118/87439014-3f9e0480-c5be-11ea-9c56-6ada87e08e59.png">

I have all tracking protection enabled:

<img width="673" src="https://user-images.githubusercontent.com/714118/87439008-3d3baa80-c5be-11ea-80a1-120295203c67.png">

Including the Level 2 block

[2020-07-14 15:47] ltm commented on #153
These are the related preferences. If I reset urlclassifier.trackingTable to the default value (i.e. moztest-track-simple,ads-track-digest256,social-track-digest256,analytics-track-digest256) which I believe is equivalent to "Level 1 block list", then I no longer have the issue.

Preference Name                                | Value
---------------------------------------------- | -------------
u

[2020-07-14 21:04] say-yawn commented on #153
@ltm thank you for the detailed explanation and STR. Unfortunately, we no longer support the Level 2 Blocklist for Strict Enhanced Tracking Protection. The list chooser UI has been removed for new users. See [this bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1568900#c3) for more info.

[2020-07-15 14:42] #149 closed

[2020-07-17 10:03] boolean5 commented on #45
This looks like it can be closed, as `canonicalize()` adds a trailing slash when there isn't one.

[2020-07-17 13:53] boolean5 opened #158 "Close all output and log files explicitly"
Currently, `main()` *explicitly* closes only the output and log file pair that corresponds to the last configuration section. This happens because `close` [is called outside of the for loop](https://github.com/mozilla-services/shavar-list-creation/blob/main/lists2safebrowsing.py#L655L658) that processes the configuration sections.

The rest of the files are most probably closed automatically becau

[2020-07-17 15:41] boolean5 opened #160 "Improve get_tracker_lists"
A couple of suggested improvements for `get_tracker_lists`:

1. Raise a `ValueError` for invalid categories found in the configuration file, just [like we do for tags](https://github.com/mozilla-services/shavar-list-creation/blob/main/lists2safebrowsing.py#L432L439).

2. If the `categories` key of a configuration section exists but is empty, `get_tracker_lists` passes to `get_domains_from_category

[2020-07-17 18:43] #153 closed

[2020-07-17 20:11] say-yawn commented on #151
Works properly and we also have a slackbot that posts to #shavar-ci when there is failure on the Jenkins job! Thanks @ckolos

[2020-07-17 20:11] #151 closed

[2020-07-27 09:19] boolean5 opened #161 "Add unit tests for list versioning functions"
Implement unit tests for functions `edit_config`, `version_configurations`, `revert_config`, `get_versioned_lists` and `start_versioning`.

All other unit tests are covered by issues #129 and #130

[2020-07-27 09:40] boolean5 commented on #160
Regarding (2), after discussing it with @englehardt and @say-yawn we decided to go with raising a `ValueError`, not only when the `categories` key exists and is empty, but also when it does not exist. We will get rid of the `DEFAULT_DISCONNECT_LIST_CATEGORIES`, which can be confusing, and require explicitly determining the categories in every configuration section.

For this, we will first need to

[2020-08-05 20:22] say-yawn commented on #74
Before this is removed we should update the config according to issue https://github.com/mozilla-services/shavar-list-creation-config/issues/65

[2020-10-15 15:37] say-yawn opened #167 "Misc changes"
# About this Issue
Some minor changes requested on #166

[2020-11-04 12:36] boolean5 opened #170 "Fix broken coverage badge"
The coverage badge and the link to the coverage report is currently broken in the README of the main branch, because the last CircleCI build happened more than a month ago. We store the coverage badge as an artifact on CircleCI but CircleCI deletes artifacts after 30 days.

One way to fix this would be to schedule a CircleCI build to run every 15 days (this is an example interval, feel free to sug

[2020-11-06 18:04] #137 closed

[2020-11-06 18:04] #108 closed

[2020-12-15 09:48] say-yawn opened #172 "Create json files for the tracking protection lists"
# About this Issue
Since Firefox iOS consumes JSON files to create iOS consumable tracking protection lists during the build time, we want to make the JSON versions for the tracking protection lists are available for the iOS team to pull from via Shavar.

# Acceptance Criteria
- [ ] JSON file of the tracking-protections lists are generated

[2020-12-15 09:48] say-yawn commented on #172
This issue supersedes https://github.com/mozilla-services/shavar-list-creation/issues/133

[2020-12-15 09:49] say-yawn commented on #133
Superseded by https://github.com/mozilla-services/shavar-list-creation/issues/172

[2020-12-15 09:49] #133 closed

[2020-12-15 09:57] say-yawn opened #174 "Publish versioned JSON tracking protection lists to S3"
# About this Issue
Publish the JSON tracking protection lists (and the versioned lists) to S3 so that iOS can download the latest tracking protection lists in JSON

# Acceptance Criteria
- [ ] JSON tracking protection lists are published to S3
- [ ] Versioned tracking protection lists in JSON are published to S3
- [ ] (Nice-To-Have) Only the latest changes on the latest release are being generated

[2020-12-15 09:59] say-yawn opened #175 "Create a notification alerting updates on tracking protection lists"
# About this PR
To be more transparent and raise awareness that updates are available for tracking protection lists we want to notify others when updates are available. We can do this in email, Slack, etc.

# Acceptance Criteria
- [ ] Whenever changes are pushed to S3 notify about changes